First we're going to import relevant libraries and load our data:

In [1]:
import pandas as pd
raw = pd.read_csv('https://raw.githubusercontent.com/automoto/big-five-data/master/big_five_scores.csv', ',')
# this data contains the results from over 300,000 induviduals so it may take a few seconds.

In [2]:
raw.head(5) # Let's see how the data looks like

,case_id,country,age,sex,agreeable_score,extraversion_score,openness_score,conscientiousness_score,neuroticism_score
0,1,South Afri,24,1,0.753333,0.496667,0.803333,0.886667,0.426667
1,3,UK,24,2,0.733333,0.680000,0.786667,0.746667,0.590000
2,4,USA,36,2,0.880000,0.770000,0.860000,0.896667,0.296667
3,5,UK,19,1,0.690000,0.616667,0.716667,0.636667,0.563333
4,6,UK,17,1,0.600000,0.713333,0.646667,0.633333,0.513333

In [3]:
raw = raw.drop('age', axis=1) # droping the age column for now, but the country column might be relevant

In [17]:
countries = pd.DataFrame(raw['country'].value_counts())
countries.median() # there are alot of countries with very few subjects

country    26.0
dtype: float64

In [21]:
countries = countries.loc[countries['country'] >= 200]
countries.median()

country    638.5
dtype: float64

In [24]:
# Let's remove all the countries with less than 200 subjects and what we're left with
d_sif = raw.loc[raw['country'] == countries]

<ipython-input-24-4a9db01eda39>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  d_sif = raw.loc[raw['country'] == countries]

ValueError: Cannot index with multidimensional key